div.speechbubbles{
margin-left:0px;
margin-top:0px;
background-color:#f0d59c; /*background color of tooltip*/
color :#6a0606;
font-family	: 'Comic Sans MS', cursive; 
font-size:13px;
text-align:center;
font-weight: bold;
border:1px solid black;
position:absolute;
top:0;
z-index:100;
visibility:hidden;
line-height:1.3em;
padding:8px;
width:auto; /*default width of tooltip*/
border-radius:8px; /*CSS3 border radius*/
-moz-border-radius:8px;
-webkit-border-radius:8px;
box-shadow:0 0 10px #888888; /*CSS3 shadow*/
-moz-box-shadow:0 0 10px #888888;
-webkit-box-shadow:0 0 10px #888888;
}

div.speechbubbles div.speechbubbles-arrow{  /*shared CSS for arrow DIV (upwards pointing)*/
border-color: transparent transparent #f0d59c transparent; /*border color should be same as div.speechbubbles background color*/
border-style: solid;
border-width: 10px;
height:0;
width:0;
position:absolute;
top:-19px;
left:20px;
z-index:101;
_display:none; /*IE hack to hide arrow in IE6*/
}

div.speechbubbles div.speechbubbles-arrow-border{ /*shared CSS for arrow border DIV*/
border-color: transparent transparent black transparent; /*border color should be same as div.speechbubbles border color*/
border-style: solid;
border-width: 10px;
height:0;
width:0;
position:absolute;
top:-20px;
left:20px;
z-index:101;
_display:none; /*IE hack to hide arrow in IE6*/
}

div.downversion div.speechbubbles-arrow{ /*down arrow DIV specific CSS*/
border-color: #f0d59c transparent transparent transparent; /*border color should be same as div.speechbubbles background color*/
top:auto;
bottom:-19px;
}

div.downversion div.speechbubbles-arrow-border{ /*down arrow border DIV specific CSS*/
border-color: black transparent transparent transparent; /*border color should be same as div.speechbubbles border color*/
top:auto;
bottom:-20px;
}